.dark-mode {
    background-color: #333; /* Use your preferred dark mode background color */
    color: #fff; /* Use your preferred dark mode text color */
  }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.note-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.note-form input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
}

.note-form select,
.note-form button {
    margin-left: 10px;
    padding: 8px;
}

.note-form select {
    flex-basis: 100px;
}

.notes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust the column width as needed */
    gap: 10px; /* Gap between notes */
}

.note {
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.note-text {
    flex-grow: 1;
}

.note-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
